{% extends "utils/base.html" %}

{% block content %}
    {% include 'utils/_navbar_top.html' %}
    <br><br><br><br>
    <div class="container">
        <h1 class="display-3">Directory of Tutors</h1>
        <p class="text-dark">
            These tutors are affiliated with Best Exotic TOEFL and can help you through the process of
            preparation. Feel free to reach out to them for private and group sessions.
        </p>
    </div>
    <div class="container">
    <table class="table">
        <thead>
        <th>Name</th>
        <th>Email</th>
        </thead>
        <tbody>
        {% for tutor in tutors %}
        <tr>
            <td>{{ tutor.name }}</td>
            <td>{{ tutor.email }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}