{% extends "utils/base.html" %}

{% block content %}
    {% include "utils/_navbar_top.html" %}
    <div class="container-fluid bg-dark text-center text-light">
        <br><br><br><br>
        <h1 class="display-2">Welcome to Best Exotic TOEFL</h1>
        <br>
        <p class="lead">The biggest bang for your buck in online TOEFL resources.</p>
        <br><br><br><br><br>
    </div>

    <div class="container text-muted">
        <br><br>
        <p>Some of our best experiences with learning have been with tutors. Oftentimes "on-site" in their rooftops of
            their homes, sometimes during free lessons in a vacant classroom, always on our time and never their own.
            Their instruction was "personalized" in the very human sense of the word.</p>

        <p>Our teachers have high impact, but low visibility; perhaps the underlying character trait is humility.
            Despite having years of wisdom and practiced patience in dealing with all kinds of students,  these tutors
            are systematically disadvantaged by scale, especially if they transition online. Large providers, large
            enough to espouse selection bias, can outmarket and outmaneuver these small scale tutors.</p>

        <p>Some of our best experiences with learning, over tea, biscuits, and repartee with Girish Uncle (recently
            graduating from Sir), deserve to be recognized and supported, not outmoded. Our product is an attempt to do
            just that.</p>

    </div>

    <div class="container text-muted">
        <br><br><br>
        <h3 class="text-dark">The Team</h3>
        <br>
        <div class="row">
            <div class="col-md-6">
                <h5 class="text-dark">Shreya Chari</h5>
                <p><em>Pedagogy</em><br>
                    In a rare enduring passion for an Aquarian, she thinks about and tinkers with curricula to the end
                    of making learning more curiosity-driven. </p>
            </div>
            <div class="col-md-6">
                <h5 class="text-dark">Leo Ware</h5>
                <p><em>Engineering</em><br>
                    He's a stickler for good reasoning and is a thoroughbred quant, and is saving up for a plane ticket
                    to join us in India (post-lockdown, ETA unknown). </p>
            </div>
        </div><br>
        <div class="row">
            <div class="col-md-6">
                <h5 class="text-dark">Nitin Mariserla</h5>
                <p><em>Business and Marketing</em><br>
                    Nitin has extensive professional networks across South India, some familial, most earned out of
                    goodwill. Putting his heart first, Nitin has led social entrepreneurship initiatives around Vizag
                    and South India. </p>
            </div>
            <div class="col-md-6">
                <h5 class="text-dark">Andre Vacha</h5>
                <p><em>Design</em><br>
                    Pixel mason and finance aficionado. Self-dubbed creative architect that likes to forage, hates to
                    synthesize. Always open to a talk about 'Indocentricity'. </p>
            </div>
        </div>

    </div>

{% endblock %}
